@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: "estedad" !important;
}
@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/Estedad-Regular.ttf");
}
body {
  background-color: #0d1117 !important;
}
::selection {
  background-color: #8a2be2 !important;
  color: #ddd;
}
